@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  background-color: transparent;
  border: none;
  padding: 0;
  /*white-space: nowrap;*/
}

h1,
h2,
h3,
h4,
h5,
ul {
  padding: 3px;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

